.height-100-p {
    height : 100% !important;   
}

.form-select-div select {
    background-clip: padding-box;
    padding-block: calc(0.8555rem - 1px);
    padding-inline-end: calc(2rem - 1px);
    padding-inline-start: calc(1rem - 1px);
}

.form-select-div select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 22" fill="none"%3e%3cpath d="M10.9999 12.0743L15.5374 7.53676L16.8336 8.83292L10.9999 14.6666L5.16626 8.83292L6.46243 7.53676L10.9999 12.0743Z" fill="%232e263d" fill-opacity="0.9"/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: 0.8555rem 2rem 0.8555rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.375;
    color: var(--bs-heading-color);
    appearance: none;
    background-color: transparent;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 22px 24px;
    border: 1px solid
 color-mix(in sRGB, var(--bs-base-color) 22%, var(--bs-paper-bg));
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mg-t-10 {
    margin-top : 10px;
}

.mg-10 {
    margin :10px;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;   
    cursor: default;
}


.filter-root-header-label {
        line-height: 35px  !important;
}

.filter-root-header {
    border-radius: 6px;
}